<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kedun.authmgr.authority.dao.UserGroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kedun.authmgr.authority.model.UserGroupInfo" >
    <id column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="system_name" property="systemName" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_status" property="groupStatus" jdbcType="TINYINT" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    group_id, system_name, group_name, group_status, create_dt, update_dt
  </sql>

  <sql id="base" >
    group_id groupId, system_name systemName, group_name groupName, group_status groupStatus, create_dt createDt, update_dt updateDt
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_group_info
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_group_info
    where group_id = #{groupId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.kedun.authmgr.authority.model.UserGroupInfo" useGeneratedKeys="true" keyProperty="groupId" >
    insert into user_group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="systemName != null" >
        system_name,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupStatus != null" >
        group_status,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
      <if test="updateDt != null" >
        update_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="systemName != null" >
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupStatus != null" >
        #{groupStatus,jdbcType=TINYINT},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.kedun.authmgr.authority.model.UserGroupInfo" >
    update user_group_info
    <set >
      <if test="systemName != null" >
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupStatus != null" >
        group_status = #{groupStatus,jdbcType=TINYINT},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null" >
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>

  <select id="select" resultType="java.util.Map">
    select
    <choose>
      <when test="fieldStr!=''">
        ${fieldStr}
      </when>
      <otherwise>
        <include refid="base" />
      </otherwise>
    </choose>
    from user_group_info
    <where>
      ${queryStr}
    </where>
  </select>

</mapper>