<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kedun.authmgr.authority.dao.UserGroupMapper" >
  <resultMap id="BaseResultMap" type="com.kedun.authmgr.authority.model.UserGroup" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.kedun.authmgr.authority.model.UserGroup" >
    insert ignore into user_group (user_id, group_id, create_dt
      )
    values (#{userId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{createDt,jdbcType=TIMESTAMP}
      )
  </insert>

  <delete id="delete" parameterType="com.kedun.authmgr.authority.model.UserGroup" >
    delete from user_group
    where user_id = #{userId,jdbcType=INTEGER} and group_id = #{groupId,jdbcType=INTEGER}
  </delete>

  <select id="selectUserByGroup" parameterType="java.lang.Integer" resultType="java.util.Map">
    SELECT u.user_id userId,u.user_code userCode,u.login_name loginName,u.user_name userName,u.phone,u.dept_id deptId,u.user_status userStatus
    FROM user_group ug JOIN user_info u ON u.user_id=ug.user_id
    where ug.group_id=#{groupId,jdbcType=INTEGER}
  </select>

  <select id="selectGroupListByUser" parameterType="java.lang.Integer" resultType="java.util.Map">
    select g.group_id groupId,g.system_name systemName,g.group_name groupName from user_group ug
    join user_group_info g on g.group_id=ug.group_id and g.group_status=0
    where ug.user_id=#{userId,jdbcType=INTEGER}
  </select>

  <select id="selectActionListByUser" parameterType="java.lang.Integer" resultType="java.util.Map">
    SELECT  a.action_id actionId,a.system_name systemName,a.action_name actionName,a.display_name displayName,
    a.controller_name controllerName,a.dsl_string dslString
    from action_info a where a.action_id in
    (
        select ra.action_id from user_role ur join role_action ra on ra.role_id=ur.role_id where ur.user_id=#{userId,jdbcType=INTEGER}
        UNION
        select ga.action_id from user_group ug join user_group_action ga on ga.group_id=ug.group_id where ug.user_id=#{userId,jdbcType=INTEGER}
    )
    <if test="queryStr!=''">
      order by systemName
    </if>
  </select>

  <resultMap id="systemAction" type="java.util.Map">
    <result column="systemName" property="systemName" jdbcType="VARCHAR"/>
    <collection property="actionList" resultMap="actionList"></collection>
  </resultMap>

  <resultMap id="actionList" type="java.util.Map">
    <id column="actionId" property="actionId" jdbcType="INTEGER"/>
    <id column="actionName" property="actionName" jdbcType="VARCHAR"/>
    <result column="displayName" property="displayName" jdbcType="VARCHAR"/>
    <result column="controllerName" property="controllerName" jdbcType="VARCHAR"/>
    <result column="dslString" property="dslString" jdbcType="INTEGER"/>
  </resultMap>


  <select id="selectActionList" parameterType="java.lang.Integer" resultMap="systemAction">
    SELECT  a.action_id actionId,a.system_name systemName,a.action_name actionName,a.display_name displayName,
    a.controller_name controllerName,a.dsl_string dslString
    from action_info a where a.action_id in
    (
    select ra.action_id from user_role ur join role_action ra on ra.role_id=ur.role_id where ur.user_id=#{userId,jdbcType=INTEGER}
    UNION
    select ga.action_id from user_group ug join user_group_action ga on ga.group_id=ug.group_id where ug.user_id=#{userId,jdbcType=INTEGER}
    )
    order by systemName
  </select>



</mapper>